# Dependencies
node_modules/
/.pnp
.pnp.js

# Next.js
/.next/
/out/
/build/

# Production
/dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env files (Keep .env.example if you have one)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Prisma
/prisma/dev.db
/prisma/dev.db-journal

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
/coverage/

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Desktop.ini

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo
.project
.classpath
.settings/
